name: Create release

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release type'
        required: true
        type: choice
        default: 'calver-milestone'
        options:
          - 'calver-milestone'
          - 'calver'

defaults:
  run:
    shell: bash

jobs:
  create-release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      # JVM_OPTS: "-Xmx6G" # ignored when .jvmopts is present
      SBT_OPTS: "-Dsbt.ci=true"
    steps:
      - name: Validate inputs
        run: exit 1
        if: |
          github.event.inputs.releaseType != 'calver' &&
          github.event.inputs.releaseType != 'calver-milestone'

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # indicates all history for all branches and tags
          token: ${{ secrets.GATLING_CI_TOKEN }} # for tag to trigger other workflows (release)

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'sbt'

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Next version
        id: tag
        env:
          RELEASE_TYPE: ${{ github.event.inputs.releaseType }}
        run: |
          sbt "gatlingWriteBumpVersion $RELEASE_TYPE"
          export CURRENT_TAG="v$(cat target/gatlingNextVersion)"
          echo "tag='$CURRENT_TAG'"
          echo "tag=$CURRENT_TAG" >> $GITHUB_OUTPUT

      - name: Git tag
        env:
          GIT_USER_NAME: ${{ secrets.GATLING_CI_NAME }}
          GIT_USER_EMAIL: ${{ secrets.GATLING_CI_EMAIL }}
          RELEASE_TYPE: ${{ github.event.inputs.releaseType }}
          TAG: ${{ steps.tag.outputs.tag }}
        run: |
          git config user.name "$GIT_USER_NAME"
          git config user.email "$GIT_USER_EMAIL"
          if [ "$RELEASE_TYPE" = "calver-milestone" ]; then
            git tag "$TAG"
          else
            git tag "$TAG" -m "Version $TAG"
          fi
          git push origin "$TAG"
