name: pages

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '25'
          cache: 'sbt'

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Preprocess with SBT
        run: >
          sbt
          'set openapi / Preprocess / target := (openapi / target).value / "public" / "openapi"'
          'openapi / Preprocess / preprocess'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./openapi/target/public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
